/* @font-face {
  font-family: 'NHaasGroteskTXPro-55Rg';
  font-style: normal;
  font-weight: 400;
  /* IE9 Compat Modes */



.main {
  background: #eaebef;
  font-family: 'Open Sans';
  position: relative;
}

.formsearch {
  height: 15vh;
  z-index: 0;
  position: relative;
}

.icon-search {
  position: absolute;
  right: 28px;
  font-size: 24px;
}

input::placeholder {
  text-align: left;
}

.form-group {
  margin-bottom: 0 !important;
}

.listitem {
  background-color: black;
}

.list {
}

.listSiderbar {
  position: sticky;
  height: 70%; 
  
}

.listName {
  width: 315px;
  position: static;
  font-family: 'NHaasGroteskTXPro-55Rg';
  font-size: 16px;
  font-weight: 900;
  color: black;
  height:calc(100vh - 5em);
  padding-left: 26px;
  padding-right: 16px;
  text-transform: capitalize;
  border-right: 1px solid hsla(0,0%,62.7%,.3);
}

.listName h3 {
  margin-bottom: 23px;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
}
.makeStyles-root-1{
  width: 200px !important;
}