.apartment-list-container {
  display: flex;
}

.apartment-list-content {
  width: calc(100% - 266px);
}

.filter-container {
  position: sticky;
  top: 88px;
  margin-right: 16px;
  padding: 16px;
  width: 327px;
  height: 100%;
  background-color: white;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.1);
}

.ant-select {
  width: 100%;

}

.ant-select:focus {
  border-color: none;
  box-shadow: none;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  border: none !important;
}

.ant-select-selector:focus {
  border: white;
  background-color: transparent;
  box-shadow: none
}

.ant-select-selector:active {
  border-color: none;
  box-shadow: none;
  background-color: none;
}

.fitter-List {
  position: relative;
  margin-top: 1em;
}

.fitter-List .fitter-item {
  text-transform: uppercase;
  color: black;
  position: relative;
  z-index: 1;
  text-align: left;
  margin-left: 1em;

  margin-bottom: 36px;
  font-weight: 600;
}

.fitter-List .animation {
  position: absolute;
  height: 16%;
  top: -14px;
  z-index: 0;
  background: aliceblue;
  border-radius: 8px;

  transition: all .5 ease 0s !important;
}

.fitter-item:nth-child(1) {
  margin-bottom: 69px;
}

.fitter-item:nth-child(1):hover::after {
  content: "";
  width: 54px;
  height: 3px;

}

.fitter-item:nth-child(2):hover::after {
  content: "";
  width: 137px;

  height: 3px;
}

.fitter-item:nth-child(3):hover::after {
  content: "";

  width: 171px;
  height: 3px;
}

.fitter-item:nth-child(4):hover::after {
  content: "";
  width: 204px;
  height: 3px;
}



.fitter-item::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: gray;
  transition: 0.3s;
}